* {
  margin: 0;
  padding: 0;
  border: 2px solid whitesmoke;
  text-align: center;
  border-radius: 2%;
}
  
  .container {
    width: 50%;
    max-width: 800px;
    min-width: 600px;
    margin: 0 auto;
    background-color: khaki;
    text-align: center;
    margin-top: 100px;
  }

  .inner-container {
    background-color: lightblue;
    display: flex;
    justify-content: space-between;
    height: 300px;
  }

  .buttons-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  button {
    flex: 1;
    font-size: 25px;
    background-color: #0078D4;
    color: whitesmoke;
    font-weight: bolder;
    transition: transform 0.2s ease;
  }

  button:hover {
    transform: scale(1.03);
  }

  button:active {
    transform: scale(0.9);
    background-color: darkcyan;
  }

  .results-container {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .rounds-winner {
    flex: 1;
    padding: 10px;
  }

  .rounds-logs {
    flex: 3;
    background-color: lightskyblue;
    padding: 10px;
  }

  .logs {
    height: 10px;
    padding: 15px;
    border: none;
    margin-top: 10px;
    color: #0078D4;
  }

.summary {
  padding: 3px;
  border: none;
}